BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
ColumnLimit: 120
UseTab: Never
TabWidth: 4

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None

PackConstructorInitializers: Never

AlwaysBreakTemplateDeclarations: Yes

PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: None
AccessModifierOffset: -4
